streamlit
pandas
numpy
matplotlib
seaborn
plotly
statsmodels
scikit-learn
tensorflow
spacy
spacy-lookups-data
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_co
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_co
